body{
  margin: 0;
  padding: 0;
}
#container{
  height: 100vh;
  background-color: lightgray;
  transition: .5s;
  box-shadow: inset 0px 0px 300px 14px rgba(0,0,0,1);
}
#canvas{
  border: 5px solid white;
  border-radius: 20px;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 900px;
  width: 1000px;
  margin: 0 auto;
}
.logo{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 5px solid black;
}
h1:hover{
  transition: .5s;
  text-shadow: 2px 2px 4px #000000;
  transform: scale(1.1);
  cursor: pointer;
}
h2:hover{
  transition: .5s;
  text-shadow: 2px 2px 4px #000000;
  transform: scale(1.1);
  cursor: pointer;
}
#btn2{
  display: none;
  cursor: pointer;
}
#btn3{
  display: none;
  cursor: pointer;
}
#sound{
  display: none;
}
#settings{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: none;
  text-align: left;
  padding: 10px;
  color: black;
}
#a1{
  color: green;
  text-decoration: none;
}
#a2{
  color: orange;
  text-decoration: none;
}
#a3{
  color: red;
  text-decoration: none;
}
#a4{
  color: #223e58;
  text-decoration: none;
}
#a1:hover{
  transform: scale(1.1);
  text-shadow: 2px 2px 4px green;
  transition: .5s;
}
#a2:hover{
  transform: scale(1.1);
  text-shadow: 2px 2px 4px orange;
  transition: .5s;
}
#a3:hover{
  transform: scale(1.1);
  text-shadow: 2px 2px 4px red;
  transition: .5s;
}
#a4:hover{
  transform: scale(1.1);
  text-shadow: 2px 2px 4px #223e58;
  transition: .5s;
}
#sound2{
  display: none;
}
