body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 900px;
  width: 1000px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  font-size: 30px;
  line-height: 40px;
}
