body{
  font-family: Comic Sans MS, Comic Sans, cursive;
text-decoration-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 900px;
  width: 1000px;
  margin: 0 auto;

}
a{
  text-decoration: none;
  font-size: 30px;
  line-height: 40px;
}

button{
	 background: black;
 	font-style: fantasy;
 	text-align:	right;
 	border-width: 
 	background-color: 
 	border: 0;
 	float: none;
 	font-style: normal;
 	font-weight: bold;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: white;
  font-size: 22px;
  text-decoration: none;
  border: none;


}